<p id="membershipnotice"></p>

<h2><%= @beer_club.name %> (<%= @beer_club.city %>)</h2>

<p>
  Founded in <%= @beer_club.founded %>
</p>

<p>
  <h2>Members</h2>
  <ul>
  <% @beer_club.memberships.each do |membership| %>
    <li><%= link_to membership.user.username, membership.user %></li>
  <% end %>
  </ul>
</p>

<% if !current_user.nil? %>
  <% if !@beer_club.memberships.any? { |membership| membership.user == current_user } %>
    <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club", class:"btn btn-primary" %>
    <% end %>
  <% end %>
  <% if @beer_club.memberships.any? { |membership| membership.user == current_user } %>
    <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership", class:"btn btn-danger" %>
    <% end %>
  <% end %>
<% end %>

<br />

<%= edit_and_destroy_buttons(@beer_club) %>
