
<div>
  <h3>
    <%= @user.username %> 
    <% if @user.access == false %>
      <span class="badge badge-info">Account has been disabled.</span>
    <% end %>
  </h3>

  <% if current_user %>
    <% if current_user.admin == true && !@user.admin == true %>
      <% if @user.access %>
        <%= link_to "Disable account", toggle_closed_user_path(@user.id), method: :post, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Enable account", toggle_closed_user_path(@user.id), method: :post, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  <% end %>

  <p>Has <%= @user.ratings.count %> <%= "rating".pluralize(@user.ratings.count) %>, average rating <%= round(@user.average_rating) %>.</p>
  <% if @user.ratings.length > 0 %>
    <p>Favorite style of beer is <%= @user.favorite_style %></p>
    <p>Favorite brewery is <%= @user.favorite_brewery %></p>
  <% end %>
</div>
<div>
  <h3>member of</h3>
  <ul>
    <% @user.memberships.where(confirmed: true).each do |membership| %>
      <li>
        <%= link_to membership.beer_club.name, membership.beer_club %>
      </li>
    <% end %>
  </ul>
  <h3>outstanding applications</h3>
  <ul>
    <% @user.memberships.where(confirmed: false).each do |membership| %>
      <li>
        <%= link_to membership.beer_club.name, membership.beer_club %>
      </li>
    <% end %>
  </ul>
  <h3>ratings</h3>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li><%= link_to rating.beer.name, rating.beer %> <%= rating.score %> 
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Delete?' } %></li>
    <% end %>
  <% end %>
  </ul>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% if @user == current_user %>
  <p><%= link_to 'Destroy your account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>