<h2>Ratings</h2>
<p><%= link_to 'Add rating', new_rating_path if current_user %></p>

<div class="row">
  <div class="col-4 col-sm-4">
    <h3>Best breweries</h3>
    <%= render 'average', list: @top_breweries %>
  </div>
  <div class="col-4 col-sm-4">
    <h3>Best beers</h3>
    <%= render 'average', list: @top_beers %>
  </div>
    <div class="col-4 col-sm-4">
    <h3>Best styles</h3>
    <%= render 'average', list: @top_styles %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <h3>Most active users</h3>
    <%= render 'ratings', list: @sorted_users %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <h3>Recent ratings</h3>
    <ul>
      <% @recent.each do |rating| %>
        <li><%= rating.beer.name %> <%= rating.score %> by <%= link_to rating.user.username, user_path(rating.user) %>
        at <%= rating.created_at %></li>
      <% end %>
    </ul>
  </div>
</div>