<h2>List of ratings</h2>
<p><%= link_to 'Add rating', new_rating_path if current_user %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
      Rating
      </th>
      <th>
      Score
      </th>
      <th>
      User
      </th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td>
          <%= link_to rating, rating.beer %>
        </td>
        <td>
          <%= rating.scorestring %>
        </td>
        <td>
          <%= link_to rating.user.username, rating.user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Number of ratings: <%= @ratings.count %></p>