<h1>Beer places search</h1>



<%= form_tag places_path, class:"form-inline" do %>
  <%= text_field_tag :city, params[:city], class:"form-control mr-sm-2" %>
  <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
<% end %>
<p>
</p>
<% if @places %>
  <div>
    <h3>Current weather in <%= @weather["location"]["name"] %></h3>
    <img src="http://<%= @weather["current"]["condition"]["icon"] %>" />
    <p><b>Temperature: </b><%= @weather["current"]["temp_c"]%> °C <b>Wind: </b><%= @weather["current"]["wind_kph"] %>/sec, <%= @weather["current"]["wind_dir"]%></p>
  </div>
  <table class="table table-hover">
  <thead>
    <th>id</th>
    <th>name</th>
    <th>status</th>
    <th>street</th>
    <th>city</th> 
    <th>zip</th> 
    <th>country</th> 
    <th>overall</th>               
  </thead>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.id %></td>
      <td><%= link_to place.name, place_path(place.id) %></td>
      <td><%= place.status %></td>
      <td><%= place.street %></td>
      <td><%= place.city %></td> 
      <td><%= place.zip %></td> 
      <td><%= place.country %></td> 
      <td><%= place.overall %></td>        
    </tr>
  <% end %>
  </table>
<% end %>